
mixin view()
    .view-container
        if block
            block
        else
            p lol

    // TODO: add functionality named blocks in pug mixins
    // current hierarchy used in this mixin
    //.view-container
    //  .view-home first slide without scroll
    //      div
    //  .view-main
    //      .view-navigation
    //          div
    //      .view-slides
    //          div
    //          div
    //          ...
