@import "../config.styl"
@import "./parallax.styl"
@import "./scrollto.styl"

header
  height 100%
  width 100%
  h1
    color main-color
    font-size 5em
    margin 0
    span
      color additional-color
  h2
    color  main-color
    font-size 1.5em
    text-align end
  .dynamic-parallax
    background-image url('../images/header4.jpg')

@media only screen and (max-width: 1200px)
  header
    h1,h2
      font-size: 3em

@media only screen and (max-width: 920px)
  header
    h1,h2
      font-size: 2em

@media only screen and (max-width: 720px)
  header
    h1,h2
      font-size: 1.5em

@media only screen and (max-width: 400px)
  header
    h1,h2
      font-size: 1.2em