@import "../../style/config.styl"
nav
  position fixed
  display flex
  justify-content center
  width 100%
  transition 0.3s
  z-index 1000
  .nav-button
    width auto
    margin 1em 1em
    &:hover
      cursor pointer
      color additional-color

    p
      display inline
      width auto
nav.scrolled
  background-color back-color
  box-shadow 0 0 5px 2px rgba(0,0,0,0.5);
  .nav-button:hover
    text-decoration underline

@media only screen and (max-width: 1800px)
  nav
    p
      font-size: 2em

@media only screen and (max-width: 720px)
  nav
    p
      font-size: 1em

@media only screen and (max-width: 400px)
  nav
    p
      font-size: 0.8em