@import "../config.styl"
@import "separator.styl"
@import "images.styl"

@keyframes shadow
  from
    box-shadow 0 20px 60px -27px rgba(0,0,0,0.5)
  to
    box-shadow 0 1px 40px 0 rgba(0,0,0,0.3)

main
  flex 1
  .paragraph
    display flex
    flex-direction column
    background-color back-color
    h1
      font-size 3em
      margin auto
      padding 0
      color additional-color
    .text
      margin 0.5em auto 3em
      width 45%
      text-align center
      font-size 1.5em
      color text-color
    .cards
      display flex
      flex-flow row wrap
      justify-content space-around
      margin auto
      width 65%
      margin-bottom 5rem
      background-color back-color
      .card
        box-shadow 0 20px 60px -27px rgba(0,0,0,0.5)
        display flex
        flex-direction column
        width 20vmin
        margin 2em 1em 0 1em
        p
          text-align center
          color text-color
        img
          height 7vmin
          width 7vmin
          margin auto
      a > .card:hover
        animation-name shadow
        animation-duration 0.1s
        animation-fill-mode forwards
  .about
    h1
      height auto
      margin 1.5em auto 0.5em
      color main-color
      position static
  a
    text-decoration none
    color main-color
    &:visited
      color main-color
  .contact
    .text
      margin-top 2em
      margin-bottom 1em
    .cards
      margin-top 1em
      margin-bottom 3em
      justify-content center
      animation none
      a
        margin 1em 0.2em
      p
        margin auto
        margin-left 1em
        color text-color
      a > .card:hover
        animation none
        p
          color additional-color
      .card
        box-shadow none
        margin auto 0 0 0
        width auto
        height auto
        img
          height 3vmin
          width 3vmin

@media only screen and (max-width: 1800px)
  main
    .paragraph
      h1
        font-size 4em
      .text
        font-size: 2em
        width 75%
      .cards
        .card
          p
            font-size 2em
    .contact
      .cards
        .card
          img
            height 5vmin
            width 5vmin

@media only screen and (max-width: 1024px)
  main
    .paragraph
      .text
        font-size: 1.5em
        width 75%
       .cards
        .card
          p
            font-size 1em
    .contact
      .cards
        .card
          img
            height 6vmin
            width 6vmin


@media only screen and (max-width: 820px)
  main
    .paragraph
      .text
        font-size: 1.5em
        width 75%
      .cards
        .card
          p
            font-size 1.5em
    .contact
      .cards
        .card
          img
            height 8vmin
            width 8vmin

@media only screen and (max-width: 500px)
  main
    .paragraph
      .text
        font-size: 1.2em
        width 75%
      .cards
        .card
          p
            font-size 1.2em
    .contact
      .cards
        .card
          img
            height 10vmin
            width 10vmin

@media only screen and (max-width: 350px)
  main
    .paragraph
      h1
        font-size 3em
      .cards
        .card
          p
            font-size 0.8em
