@import "config.styl"

footer-color= #dddddd
footer
  min-height 5vh
  border-top 1px solid footer-color
  display flex
  color darken(footer-color, 20%)

  p, a
    font-size 0.9em
    margin auto
  a
    color darken(footer-color, 20%)
    text-decoration none
    &:visited
      color darken(footer-color, 20%)
    &:hover
      color additional-color
    img
      height 0.7em
      margin auto 1vmin
      

@media  screen and (max-width: 500px)
  footer
    flex-direction column
    p
      margin-top 0.5em
