header-main-color= #212121
header-additional-color= #01579B
header
  height 100%
  width 100%
  h1
    color header-main-color
    font-size 5em
    margin 0
    span
      color header-additional-color
  h2
    color  header-main-color
    font-size 1.5em
    text-align end


