@import "config.styl"

header
  height 100%
  width 100%
  h1
    color main-color
    font-size 5em
    margin 0
    span
      color additional-color
  h2
    color  main-color
    font-size 1.5em
    text-align end


