@import "header/header.styl"
@import "main/main.styl"
@import "nav.styl"

*
  font-family Roboto
html
  height 100%
  width 100%
  margin 0
  padding 0


body
  @extend html
  #root
    height 100%
    header, main, footer
      margin auto
footer-color= #dddddd
footer
  height 5vh
  border-top 1px solid footer-color
  display flex
  color darken(footer-color, 20%)
  p
    font-size 0.9em
    margin auto



