@import "header/header.styl"
@import "main/main.styl"
@import "nav.styl"
@import "footer.styl"


*
  font-family Roboto
html
  height 100%
  width 100%
  margin 0
  padding 0


body
  @extend html
  #root
    height 100%
    header, main, footer
      margin auto



