parallax-images-height=500px

*
  font-family Roboto
html
  height 100%
  width 100%
  margin 0
  padding 0
.background

  background-position 50% 50%
  background-repeat no-repeat
  background-position: 50% 50%\9 !important
  background-image url('../images/header.jpg')
.fullscreen, .content-a
    width:100%;
    height:100%;
    overflow:hidden;
.content-a {
  display:table;
}
.content-b {
  display:table-cell;
  position:relative;
  vertical-align:middle;
  text-align:center;
}
.fullscreen.overflow
  height:auto;
  min-height:100%;
  .content-a
    height:auto;
    min-height:100%;

.not-fullscreen {
  height:50%;
}


body
  @extend html
  nav
    position fixed
    display flex
    justify-content center
    width 100%
    .nav-button
      width auto
      margin 1em 1em
      p
        display inline
        width auto
  #root
    height 100%
    header, main, footer
      margin auto
    header
      height 100%
    main
      flex 1
      .paragraph
        display flex
        flex-direction column
        h1
          width auto
          margin auto
        .works-image, .contact-image
          height 100%
          width 100%
          background url('../images/header.jpg') no-repeat center center fixed
          background-size cover
        .works-image
          background-image url('../images/about.jpg')
        .contact-image
          //@extend .parallax
          background-image url('../images/contact.jpg')
        .works-image,.contact-image
          height: parallax-images-height
        .cards
          display flex
          flex-flow row wrap
          justify-content space-around
          .card
            box-shadow 0 0 10px rgba(0,0,0,0.5)
            margin 1em
            padding 2em
            p
              display inline

@media only screen and (max-device-width: 1024px)
  .parallax
    background-attachment scroll

