mixin about()
    .about
        .popup
            button +
            .popup-view
                h2 Who Am I
                p.
                    I'm a web/app developer from Saint-Petersburg, Russia.
                    I have a passion for programming and I like to achieve the goals that challenging me.
